:root {
    --clr-darkBlue: #03012c;
    --clr-blue: #5e2bff;
    --clr-red: #dd2d4a;
    --clr-white: rgb(235, 235, 235);
    --spc-default: 0.7rem;
}

* {
    font-size: 1.25rem;
    color: var(--clr-white);
}

html,
body,
.container {
    height: 100%;
}

body {
    background-color: var(--clr-darkBlue);
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

h1,
h2 {
    cursor: default;
    margin: 0;
}

span {
    font-size: inherit;
}

.blue-shadow {
    text-shadow: 0px 0px 10px var(--clr-blue), 0px 0px 10px var(--clr-blue);
}

.red-shadow {
    text-shadow: 0px 0px 10px var(--clr-red), 0px 0px 10px var(--clr-red);
}

.board {
    height: 500px;
    width: 500px;
    position: relative;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    aspect-ratio: 1/1;
    cursor: pointer;
    position: relative;
}

.horizontal,
.vertical {
    cursor: default;
}

.horizontal {
    width: 100%;
    height: 10px;
    background-color: var(--clr-white);
    -webkit-box-shadow: 0px 0px 20px 3px var(--clr-blue);
    -moz-box-shadow: 0px 0px 20px 3px var(--clr-blue);
    box-shadow: 0px 0px 20px 3px var(--clr-blue);
}

.vertical {
    min-height: 100%;
    max-width: 10px;
    background-color: var(--clr-white);
    aspect-ratio: auto;
    -webkit-box-shadow: 0px 0px 20px 3px var(--clr-red);
    -moz-box-shadow: 0px 0px 20px 3px var(--clr-red);
    box-shadow: 0px 0px 20px 3px var(--clr-red);
    z-index: -1;
}

.row {
    margin: 0;
}

img.cross,
img.circle {
    height: 60%;
    width: 60%;
    display: none;
    opacity: 0;
}

.winning-line {
    position: absolute;
    height: 10px;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
    display: none;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 1);
}

.blue {
    background-color: var(--clr-blue);
}

.red {
    background-color: var(--clr-red);
}

.left-margin {
    margin-left: -10px;
}

.right-margin {
    margin-right: -10px;
}

.top-margin {
    margin-top: -10px;
}

.bottom-margin {
    margin-bottom: -10px;
}

button.restart {
    background-color: var(--clr-red);
    padding: 0.5rem 6rem;
    border-radius: 20px;
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    * {
        font-size: 1.5rem;
    }
    p#move {
        border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
    }
    .col {
        width: 150px;
        height: 150px;
    }
    i {
        font-size: 3rem;
    }
    .vertical-line {
        width: calc(3*150px + 8px + 8px);
    }
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
